# 不要把本地 node_modules 打包進 image
node_modules

# 不要上傳環境變數檔（Cloud Run 會從設定中注入）
.env

# 不要上傳暫存或使用者資料
userData.json
*.log
npm-debug.log*

# 不要打包 git 相關內容
.git
.gitignore

# 不要打包本地 IDE 設定
.vscode
.idea

index.js-oldversion